h1{
    font-size: 45px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 25px;
}

li{
    font-size: 22px;
}

body{
    margin: 2% 10%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A6A6A6;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

button.specbutton{
    margin-left: 98%;
}

button{
    color: white;
    border: 0;
    background-color: black;
    height: 50px;
    width: 65px;
    border-radius: 5px;
    margin-bottom: 1em;
}

button:hover{
    cursor: pointer;
    box-shadow: inset -2px -2px 5px white;
}

.aboutimg{
    border-radius: 5px;
    width: 40%
}

.imagesaboutme{
    display:flex;
    column-gap:5em;
}

.projectphotos{
    display: flex;
    overflow: hidden;
    width: 50%;
    position: relative;
    scroll-behavior: smooth;
}

.projectphotos img {
    width: 100%;
}

input{
    height: 20px;
    margin-bottom: 1%;
}


.highlight {
    position: relative;
    display: inline-block;
  }
  
  .highlight::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
  }
  
  .highlight.highlight-on-hover::after {
    width: 100%;
  }

  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000000;
    cursor: pointer;
    padding: 15px;
}